MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/nmail?retryWrites=true&w=majority
AUTH_EMAIL=nMAIL@gmail.com
AUTH_PASSWORD=123456
TOKEN_SECRET=your-random-secret-here
PORT=3001
